BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 120
AllowShortFunctionsOnASingleLine: Empty
BreakBeforeBraces: Allman
NamespaceIndentation: All
AccessModifierOffset: -4
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AlignTrailingComments: true
AllowAllArgumentsOnNextLine: false
AllowAllConstructorInitializersOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
BinPackArguments: false
BinPackParameters: false
PointerAlignment: Left
DerivePointerAlignment: false
SpaceAfterCStyleCast: true
SpaceBeforeAssignmentOperators: true
SpaceBeforeParens: ControlStatements
SpacesInParentheses: false
SpacesInAngles: false
SpacesInCStyleCastParentheses: false
SpacesInContainerLiterals: true
SpacesInSquareBrackets: false
Cpp11BracedListStyle: true
SortIncludes: true
IncludeBlocks: Regroup
IndentCaseLabels: true
BreakBeforeBinaryOperators: NonAssignment
ContinuationIndentWidth: 8
ReflowComments: true
SortUsingDeclarations: true
SpaceBeforeCtorInitializerColon: true
SpaceAfterTemplateKeyword: true
InsertTrailingCommas: Wrapped
AllowShortIfStatementsOnASingleLine: Never
UseCRLF: true
