.vs/OblivionEye/CopilotIndices/17.14.827.52834/CodeChunks.db
.vs/OblivionEye/CopilotIndices/17.14.827.52834/CodeChunks.db-shm
.vs/OblivionEye/CopilotIndices/17.14.827.52834/CodeChunks.db-wal
.vs/OblivionEye/CopilotIndices/17.14.827.52834/SemanticSymbols.db
.vs/OblivionEye/CopilotIndices/17.14.827.52834/SemanticSymbols.db-shm
.vs/OblivionEye/CopilotIndices/17.14.827.52834/SemanticSymbols.db-wal
.vs/OblivionEye/FileContentIndex/3234cfc9-ccb3-4eb3-a00e-7f721333fbe2.vsidx
.vs/OblivionEye/FileContentIndex/5ba7e890-37cb-4302-a452-e41a24073f81.vsidx
.vs/OblivionEye/FileContentIndex/6d9c58c0-3bd9-4822-90fe-0abdb72d31c4.vsidx
.vs/OblivionEye/FileContentIndex/6fb79113-a035-4612-a1c5-ba385e86f059.vsidx
.vs/OblivionEye/FileContentIndex/9e26897b-64c2-4fe8-9a9f-24fd786a0254.vsidx
.vs/OblivionEye/v17/.suo
.vs/OblivionEye/v17/Browse.VC.db
.vs/OblivionEye/v17/Browse.VC.db-shm
.vs/OblivionEye/v17/Browse.VC.db-wal
.vs/OblivionEye/v17/Browse.VC.opendb
.vs/OblivionEye/v17/DocumentLayout.backup.json
.vs/OblivionEye/v17/DocumentLayout.json
.vs/OblivionEye/v17/ipch/1725a10fa62d2c1a.ipch
.vs/OblivionEye/v17/ipch/7641eca174c83a8f.ipch
.vs/OblivionEye/v17/ipch/AutoPCH/2a73209421253547/SERVER.ipch
.vs/OblivionEye/v17/ipch/AutoPCH/2b5cf750ee4645ee/DLLMAIN.ipch
.vs/OblivionEye/v17/ipch/AutoPCH/4fed52fb5a802d9a/ANTI_SUSPEND.ipch
.vs/OblivionEye/v17/ipch/AutoPCH/527b198ddf3b5d0b/PROCESS_WATCHER.ipch
.vs/OblivionEye/v17/ipch/AutoPCH/797b4b75f9ad3b98/MEMORY_SCANNER.ipch
.vs/OblivionEye/v17/ipch/AutoPCH/856e2ba861b10d8/OVERLAY_SCANNER.ipch
.vs/OblivionEye/v17/ipch/AutoPCH/9e0cfcc1e386794/SERVER.ipch
.vs/OblivionEye/v17/ipch/AutoPCH/a544de6f0841af90/UTILS.ipch
.vs/OblivionEye/v17/ipch/AutoPCH/aab093fce1419805/ANTI_DEBUG.ipch
.vs/OblivionEye/v17/ipch/AutoPCH/bb2713bdfb112841/BLACKLIST.ipch
.vs/OblivionEye/v17/ipch/AutoPCH/d75cb32f09fa727f/UTILS.ipch
.vs/OblivionEye/v17/ipch/AutoPCH/f3d93f78ed94d2b5/INJECTION_SCANNER.ipch
.vs/OblivionEye/v17/ipch/AutoPCH/f8fb6123ba8a3fa7/MEMORY_SCANNER.ipch
